<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oa.document.mapper.DocReceiveMapper">

    <sql id="joinColumns">
        r.id, r.source_dept, r.doc_title, r.doc_date, r.receive_date,
        r.urgent_level, r.content, r.process_opinion, r.status,
        r.process_dept_id, r.create_time, r.update_time,
        dp.dept_name AS process_dept_name
    </sql>

    <sql id="joinTables">
        FROM doc_receives r
        LEFT JOIN sys_dept dp ON r.process_dept_id = dp.id AND dp.del_flag = '0'
        WHERE r.del_flag = '0'
    </sql>

    <select id="findPageWithJoins" resultType="java.util.Map">
        SELECT <include refid="joinColumns"/>
        <include refid="joinTables"/>
        <if test="status != null and status != ''">
            AND r.status = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (r.doc_title LIKE CONCAT('%', #{keyword}, '%')
                 OR r.source_dept LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="deptId != null">
            AND r.process_dept_id = #{deptId}
        </if>
        ORDER BY r.create_time DESC
    </select>

    <select id="findDetail" resultType="java.util.Map">
        SELECT <include refid="joinColumns"/>
        <include refid="joinTables"/>
        AND r.id = #{id}
    </select>

</mapper>
