<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oa.document.mapper.DocSignReportMapper">

    <sql id="joinColumns">
        s.id, s.title, s.report_type, s.content, s.status,
        s.emp_id, s.dept_id, s.wf_instance_id,
        s.create_time, s.update_time,
        e.real_name AS emp_name,
        dp.dept_name
    </sql>

    <sql id="joinTables">
        FROM doc_sign_reports s
        LEFT JOIN sys_employee e ON s.emp_id = e.id AND e.del_flag = '0'
        LEFT JOIN sys_dept dp ON s.dept_id = dp.id AND dp.del_flag = '0'
        WHERE s.del_flag = '0'
    </sql>

    <select id="findPageWithJoins" resultType="java.util.Map">
        SELECT <include refid="joinColumns"/>
        <include refid="joinTables"/>
        <if test="status != null and status != ''">
            AND s.status = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (s.title LIKE CONCAT('%', #{keyword}, '%')
                 OR s.report_type LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="empId != null">
            AND s.emp_id = #{empId}
        </if>
        ORDER BY s.create_time DESC
    </select>

    <select id="findDetail" resultType="java.util.Map">
        SELECT <include refid="joinColumns"/>
        <include refid="joinTables"/>
        AND s.id = #{id}
    </select>

</mapper>
